/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

.image-header-wrapper {
  margin: auto 0;
}

.about-us-wrapper {
  position: absolute;
  top: 75px;
  right: 0;
  left: 0;
  z-index: 10;
}

.about-us-wrapper .container {
  padding-right: 0;
  padding-left: 0;
}

.container .jumbotron {
  border-radius: 0;
}

.page-header {
  z-index: 20;
}

.jumbotron {
    padding-top: 5px;
    padding-bottom: 5px;
  }

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
    padding-right: 0;
    padding-left: 0;
  }

  .about-us-wrapper {
    margin-top: 25px;
  }

  .about-us-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }

  .container .jumbotron {
    border-radius: 6px;
  }

  .jumbotron {
    padding-top: 48px;
    padding-bottom: 48px;
  }

}
